.menu{
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    color: #ffffff;
}
.bodyimg{
    margin: 0px;
    background-color: #f7f2f2;
}
.pigeon{
    border-radius: 20px;
    background-color: #ffffff;
    padding: 30px;
    margin:25px;
    width: 310px;
    font-family: fantasy;
}

a:link{
    color:white;
}

a:visited{
    color:white;
}

.origami:hover{
    transform:scale(1.2) ;
}


